section {
  padding: 4rem 0 3rem;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  padding: 30px;
  font-weight: 800;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 18px;
  padding: 0 200px;
}

.product-box {
  display: flex;
  flex-direction: column; /* Alinea contenido en columna */
  justify-content: space-between; /* Espacia elementos principales */
  padding: 10px;
  border-radius: 10px;
  position: relative;
  transition: 0.6s;
  overflow: hidden; /* Evita que los elementos sobresalgan */
}

.product-box:hover {
  border: 1px solid #06070e;
  box-shadow: 6px 9px 18px -3px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 6px 9px 18px -3px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 6px 9px 18px -3px rgba(0, 0, 0, 0.71);
  transition: 0.6s;
}

.product-img {
  width: 100%;
  height: 257px;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.product-title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}

.price {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #333;
}

.product-actions {
  position: relative;
  height: 50px; /* Altura fija para posicionar los íconos */
}

.add-cart,
.add-wishlist {
  position: absolute;
  bottom: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.2rem;
  background: #f8f1f4;
  transition: background 0.3s ease;
}

.add-cart:hover,
.add-wishlist:hover {
  background: #182d2c;
  color: #fff;
}

.add-cart {
  right: 10px; /* Esquina inferior derecha */
}

.add-wishlist {
  left: 10px; /* Esquina inferior izquierda */
}

.product-box:hover .price {
  margin-bottom: 30px; /* Ajusta dinámicamente para mantener separación */
}
